<section>
    <div class="container">
        <h1 class="text-center">Проекты</h1>

        <table class="table table-striped table-hover" ng-show="projectsCtrl.projects.length > 0">
            <tr>
                <th width="5%">#</th>
                <th>Название</th>
                <th width="8%"></th>
            </tr>
            <tr ng-repeat="project in projectsCtrl.projects track by $index">
                <td>{{$index+1}}</td>
                <td><a ng-href="#/projects/{{project.id}}">{{project.name}}</a></td>
                <td>
                    <button class="btn btn-default btn-xs" ng-click="projectsCtrl.removeProject(projectsCtrl.projects, project.id, $index)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <button class="btn btn-default btn-xs" ng-click="projectsCtrl.editProject(project)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <hr/>

    <section>
        <div class="text-center">
            <button type="button" class="btn btn-default btn-small" ng-click="projectsCtrl.addProject()">
                <span class="glyphicon glyphicon-plus"></span> Добавить проект
            </button>
        </div>
    </section>

    <br/><br/>
</section>
